.navbar{
    background-color: #212121;
}

.navbar-item .subtitle{
    color: #FDFDFD;
    margin: 0 0 0 12px;
}

.navbar-item .title{
    margin: 0 0 0 12px !important;
    color: #FDFDFD;
}

.page-info{
    display: flex;
    flex-direction: row;
}

.page-info .subtitle{
    color: #FDFDFD;
    margin: 0;
}

.page-info .title{
    color: #FDFDFD;
    margin: 1.2px 0 0 6px !important;
}

hr{
    margin: 0;
    background-color: #292929;
}

.search{
    width: auto;
    margin: 1em 0 0 0;
}

.search .field .control:first-child{
    width: 60%;
    
}

.search .field{
    justify-content: center !important;
}

.search .field .input{
    background-color: #2d2d2d;
    color: #FDFDFD;
    border: none;
}

.search .field .input::placeholder{
    background-color: #2d2d2d;
    color: #aaa;
    border: none;
}

.search .field p .button{
    background-color: #2d2d2d;
    color: #fdfdfd;
    border: none;
}

.search .field p .button:hover{
    background-color: #292929;
}

.footer{
    background-color: #212121;
    margin: auto;
    padding: 0%;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.navbar .navbar-menu{
    background-color: #212121;
    display: flex;
}

.is-active{
    background-color: #292929 !important;
 
}

.navbar .navbar-menu .navbar-start{
    width: auto;
    margin: auto;
    display: flex;
}

.navbar .navbar-menu .navbar-start .navbar-item .menu-item{
    max-width: 70px;
    min-width: 30px;
    text-align: center;
    font-size: 0.95em;
    color: #FDFDFD;
}